.banner {
    background-color: #832161;
    color: #F0EFF4;
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  